body{
  background-color: white;
  margin: 0;
  padding: 0;
}

header{
  margin-top: 0;
  padding: 0.1% 0;
}

nav{
  margin: 0;
  margin-top: -5px;
}

nav ul{
  list-style-type: none;
  background-color: #0E1D54;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

nav li{
  width: 16.667%;
  float: left;
}

nav li a{
  display:block;
  color: #A5D7F8;
  text-align: center;
  padding: 8px 80px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav li a:hover{
  background-color: #598392;
  text-shadow: -2px 2px black;
}

.hover:hover{
  opacity: 0.5;
}

.FAQ{
  max-width: 65%;
  text-align: center;
  padding:10px;
  position: relative;
  margin-left: 250px;
}

#FAQ_section h1{
  text-align: center;
  padding: 1.3rem 0;
  opacity: 1.0;
  font-size: 3rem;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: small-caps;
}

.FAQ h2{
  text-align: left;
  color: white;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 15px;
  background-color: #145c9e;
}

.FAQ hr{
  margin-top: 30px;
}

.FAQ p{
  text-align: justify;
  margin-left: 8%;
  margin-right: 10%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
}

.question{
  border: 1px solid black;
  margin-bottom: 20px;
}


.FAQ_question p {
  margin: 1px;
  padding: 10px;
  font-size: 20px;
  font-size: medium;
  background-color: #EEECEC;
}

.FAQ_answer p {
  margin: 1px 0 0px;
  padding: 10px;
  font-size: medium;
  color: black;
}

.FAQ_question p:hover{
  background-color: #BBBBBB;
}
.FAQ:hover{
  cursor:pointer
}

.FAQ_answer {
  display: none;
}

.FAQ_answer.active {
  display: block;
}

.FAQ h3{
  text-align: left;
  color: black;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 1px;
  margin-top: 30px;
}

.FAQ h3 a{
  text-decoration: none;
  color: #01161E;
}

.FAQ h3 a:hover{
  text-decoration: underline;
}

footer .container{
  background-color: #0E1D54;
  padding: 20px;
  margin-top: 10px;
  position: relative;
  width: 97.3%;
  display: flex;
  flex-wrap: wrap;
  line-height: 20px;
}

footer .box {
  float: left;
  margin: 0px 20px 0px 10px;
  width: 22.5%;
}

footer h3{
  text-align: left;
  opacity: 1.0;
  font-weight: bold;
  font-size: 1.5rem;
  font-style: italic;
  font-family: cursive;
  font-variant: small-caps;
  margin-top: 0px;
  margin-right: 25px;
  color: white;
}

.box h3:first-of-type{
  margin-top: 0px;
}

footer img{
  width:60px;
  height: 60px;
  border-radius: 20px;
}

footer ul{
  list-style-type: none;
  list-style-image: none;
  line-height: 30px;
  list-style-position: outside;
}

footer ul a{
  text-decoration: none;
  display:block;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  color: white;
  font-weight: 900;
}

footer p a{
  text-decoration: none;
  display:block;
  font-weight: 900;
  color: white;
}

footer p a:hover{
  color: #A5D7F8;
}

footer a:hover {
  text-decoration: underline;
  color:#A5D7F8;
}

#image {
  float: left;
  margin: 10px 10px;
}

footer p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  color: white;
}

@media screen  and (max-width:1024px) and (max-height:768px){
  header{
    margin-top: 0px;
  }

  nav ul{
    width: 100%;
  }

  nav li{
    width: 16.667%;
  }

  nav li a{
    display:block;
    color: #A5D7F8;
    padding-left: 30%;
  }

  .FAQ{
    margin-left: 160px;
  }

  footer .container{
    width: 96%;
  }

  footer .box{
    width:21% ;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.popupForm {
  display: none;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 380px;
  padding: 0px 40px 0px 40px;
  transform: translate(-50%,-50%) scale(1);
  z-index: 9;
  border-radius: 20px;
  transition: transform 0.3s ease;
  border: 2px solid lightgrey;
}

.popupForm .option {
  float: center;
}

.popupForm .accountoption {
  border-radius: 20px;
}

.popupForm .accountoption:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.popupForm .container {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.popupForm h1#accounttitle {
  font-size: 35px;
  text-align: center;
  opacity: 1.0;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: small-caps;
}

.zoomout {
  transform: translate(-50%, -50%) scale(0.5);  
}

.btncancel {
  width: 30%;
  font-size: 0.9em;
  padding: 12px;
  background-color: #F6F3ED;
  border-radius: 20px;
  border: 3px solid #DED7C8;
  color: #787884;
  text-align: center;
  margin-left: 35%;
}