body{
    margin: 0;
    padding: 0;
}

body.signup {
    background-image: url('Icon/LoginRegister/signup-background.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    overflow-y: auto;
    backdrop-filter: blur(7px);
}

body.login {
    background-image: url('Icon/LoginRegister/login-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    overflow-y: auto;
    backdrop-filter: blur(7px);
}

header {
    background-color: white;
    margin-top: 0;
    padding: 0.1% 0;
    height: 76.5px;
}

.blur-container{
    position: relative;
    height: 104vh;
    overflow: hidden;
    backdrop-filter: blur(7px);
}

.popupForm2 {
    background: linear-gradient(90deg, rgba(255,254,234,1) 35%, rgba(208,234,255,1) 100%);
    display: none;
    position: fixed;
    top: 55.4%;
    left: 50%;
    width: 500px;
    height: 465px;
    padding: 0px 40px 0px 40px;
    transform: translate(-50%,-50%) scale(1);
    z-index: 9;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    font-size: 28px;
}

input[type=text], input[type=Password], input[type=tel], input[type=email], input[type=date] {
    border-radius: 15px;
    padding: 10px;
    width: 100%;
}

input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=email]:focus, input[type=date]:focus {
    font-size: 1.0em;
}

.button { 
    text-align: center;
}

.buttonoption {
    text-align: right;
}

.switchbutton {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    padding: 7px 32px 7px 32px;
    cursor: pointer;
    border-radius: 50px;
    border-color: grey;
    font-size: 14px ;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.19);
}

.button1 {
    font-weight: bold;
    font-style: italic;
    padding: 5px 30px 5px 30px;
    cursor: pointer;
    border-radius: 50px;
    background-color: #b7cde5;
    font-size: 14px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.19);
}

.button1:hover, .switchbutton:hover, .nextresetbtn:hover, .previousbutton:hover {
    opacity: 0.7;
}

.previousbutton {
    font-weight: bold;
    padding: 10px 32px 10px 32px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.nextresetbtn {
    background-color: lightgreen;
    font-weight: bold;
    padding: 10px 38px 10px 38px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

div.loginreg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.loginregister{
    width: 500px; 
    padding: 25px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px; 
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

div.passwordwrapper{
    position: relative;
    display: inline;
}

div.passwordwrapper img{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

div#eregister1, div#pregister1, div#elogin, div#plogin {
    display: block;
}

div#eregister2, div#eregister3, div#eregister4, div#pregister2, div#pregister3, div#pregister4 {
    display: none;
}

div a {
    text-decoration: none;
    color: #9bb6d3;
}

.columnform {
    display: flex;
}

.form-partition {
    flex: 1;
    padding: 0;
    background-color: #8598bd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-partition:first-child {
    background-color: #d8d8d8;
}

p {
    text-align: center;
}

.method {
    color: white;
}

.form-picture {
    width: 100%;
    align-self: flex-end;
}

#eregister1, #pregister1 {
    margin-top: 7.6%;
    width: 800px;
    padding: 0;
    border-radius: 0;
}

#eregister2, #pregister2 {
    margin-top: 2.3%;
    background-color: #e4ddd5;
}

#eregister3, #pregister3 {
    background-color: #e4ddd5;
}

#eregister4, #pregister4 {
    background-color: #e4ddd5;
}

h1#welcometitle {
    padding-top: 25px; 
    font-style: italic; 
    font-size: 35px;
}

h3 {
    margin-top: 4%;
    margin-bottom: 2%;
}

#elogin, #plogin {
    margin-top: 4.9%;
    background-color: rgb(248, 247, 235);
}

.passwordrequirements-container {
    display: flex;
    justify-content: left;
    padding-left: 25px;
}

.passwordrequirements-container li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin-bottom: 1px;
}

.passwordrequirements-container li.met {
    color: #6ca0dc;
}

.requirementsLayout1 {
    flex: 1;
    list-style-type: disc;
    padding: 0;
}

.requirementsLayout2 {
    flex: 1;
    list-style-type: disc;
    padding: 0;
}

h3.instruction {
    font-style: italic;
}

@media screen and (max-width: 1024px) and (max-height: 768px){ 
    #eregister1, #pregister1 {
        margin-top: 6.7%;
    }

    #eregister3, #pregister3 {
        margin-top: 0;
        padding: 2px 25px;
    }

    h3 {
        margin-top: 3%;
    }

    .switchbutton {
        margin-bottom: 3%;
    }

    #elogin, #plogin {
        margin-top: 2.5%;
    }

    .popupForm2 {
        top: 57%;
    }
}