body{
    background-color: #dad8e5;
}
.container{
    width: 500px;
    height: 400px;
    background-color: #cfdee7;
    margin-top: 5%;
    margin-left: 33%;
    box-shadow: -5px 5px 20px hsl(214, 24%, 60%);
}

header h1{
    margin-top: 5% ;
    opacity: 1.0;
    font-size: 4rem;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    margin-left: 39%;
    color: #0e1d54;
}

.nameBox, .cardNumberBox, .expirationDateBox, .cvvBox{
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 30px;
    color: #6589b1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.nameBox input, .cardNumberBox input,.cvvBox input{
    border-radius: 20px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    border: none;
    padding: 5px;
    font-size: 1rem;
}


.nameBox input{
    margin-left:110px;
    width: 50%;
}

.cardNumberBox input{
    margin-left: 28px;
    width: 50%;
}

.cvvBox input{
    margin-left: 130px;
}

select#expirationDateMonth , select#expirationDateYear{
    border-radius: 20px;  
    margin-right: 5px; 
    border: none; 
    padding: 5px;
}
.button{
    padding-top: 30px;
    text-align: center;
}

.button input{
    margin-left: 4px;
    padding-top: 10px;
    width: 30%;
    padding-bottom: 10px;
    border-radius: 20px;
    margin-right: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: #6589b1;
    color: #eee;
    border: none;
    
}

.button input:hover{
    background-color: #0e1d54;
}
.cvvBox input{
    width: 10%;
}

@media screen  and (max-width:1024px){
    .container{
        width: 500px;
        height: 400px;
        background-color: #cfdee7;
        margin-top: 5%;
        margin-left: 24.5%;
        box-shadow: -5px 5px 20px hsl(214, 24%, 60%);
    }
    
    header h1{
       margin-left: 34%;
        
    }
}
