body{
    margin: 0 25% 0 25%;
    padding: 0;
    text-align: center;
    background-color: hsla(205, 31%, 72%,0.3);
}


.container{
    background-color: hsl(230, 73%, 23%);
    padding-bottom: 2%;
    padding-top:0.5%;
    margin-top: 18px;
    width: 100.5%;
}

.container h1{
    color:#eee;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: -10px;
    opacity: 1.0;
    text-align: center;
    font-size: 3.5rem;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
}

.cartTab{
    left: 25%;
    top: 18.5%;
    bottom: 20%;
    width: 50%;
    color: #eee;
    position: fixed;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    background-color: hsl(223, 25%, 89%);
    border: 2px solid black;
    color: black;
}

.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 600;
    color: black;
    text-align: center;
    margin-top: -10px;
    padding-left: -10px;
    opacity: 1.0;
    font-size: 2.8rem;
    font-style: italic;
    font-family: cursive;
    font-variant: small-caps;
}

.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button{
    background-color: #e8bc0e;
    padding: 10px;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .btn .close{
    background-color: #eee;
}

.cartTab .listCart .item img{
    width: 100%;
}

.cartTab .listCart .item{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 70px 300px 250px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}


.listCart .item:nth-child(even){
    background-color: lightblue;
}

.listCart{
    overflow: auto;
}

.listCart::-webkit-scrollbar{
    width: 0;
}

.cartTab .btn button:active{
    background-color: #124559;
}

.cartTab .listCart .item .name, .cartTab .listCart .item .quantity , .cartTab .listCart .item .price ,  .cartTab .listCart .item img {
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 15px;
}

.cartTab .listCart .item img{
    width: 80px;
    height: 70px;
    margin-left: 10px;
}


.totalPriceRow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:10px;
    background-color: hsl(196, 92%, 28%);
    color: #fff;
    border: none;
    font-weight: 500;
    border-top: 2px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.0rem;
    margin-top: 10px;
    text-transform: uppercase;
}


.paymentMethod{
    background-color: lightblue;
    position: absolute;
    width: 50.2%;
    top: 81.5%;
    margin-top: 5px;
    margin-bottom: 20%;
}


.paymentMethod h1{
    font-size: 1.9em;
    color: #124559;
}

.paymentMethod .selectMethod{
    margin: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight:500;
    text-transform: capitalize;
    font-variant: small-caps;
    
}

.paymentMethod .selectMethod select option{
    background-color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.paymentMethod .selectMethod select{
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 30px;
}

.paymentMethod .formButton{
    margin: 1%;
}

.paymentMethod .formButton input{
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 15px;
    width: 30%;
    padding: 5px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: aliceblue;

}

.paymentMethod .formButton input:hover{
    background-color: hsl(224, 85%, 88%);
    border: 2px solid #124559;
}

@media screen  and (max-width:1024px) and (max-height:768px){
    .listCart{
        width: 100%;
        margin-right: 20%;
    }

    .cartTab{
        left: 10%;
        top: 13%;
        bottom: 20%;
        width: 80%;
        margin-top: 0%;
    }

    .container{
        margin-left: -30%;
        width: 160.7%;
        padding-bottom: 0%;
        padding-top: 0%;
    }

    .paymentMethod{
        width: 80.4%;
        top: 80%;
        margin-top: 0%;
        margin-bottom: 0%;
    }
}

