body{
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}

header{
  margin-top: 0;
  padding: 0.1% 0;
}

#logo{
  width:190px;
  height:75px;
  margin-bottom: 0;
  opacity: 1;
}

#login{
  width:38px;
  height:38px;
  float: right; 
  margin: 15px 20px 10px 20px;
}

nav{
  margin: 0;
  margin-top: -5px;
}

nav ul{
  list-style-type: none;
  background-color: #0E1D54;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

nav li{
  width: 16.667%;
  float: left;
}

nav li a{
  display:block;
  color: #A5D7F8;
  text-align: center;
  padding: 14px 80px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav li a:hover{
  background-color: #598392;
  text-shadow: -2px 2px black;
}

.hover:hover{
  opacity: 0.5;
}


.video video{
  margin-left: 230px;
  margin-top: 10px;
  margin-bottom: 20px;
}


.video h1{
  text-align: center;
  padding: 1.3rem 0;
  opacity: 1.0;
  font-size: 3rem;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: small-caps;
  margin-left: 40px;
  margin-bottom: 10px;
}

.display_container{
  max-width: 800px;
  position: relative;
  margin: auto;
}

.mySlides{
  display: none;
}

.mySlides img{
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.prev, .next{
  cursor:pointer;
  position: absolute;
  top:50%;
  width: auto;
  margin-top: -22px;
  padding:16px;
  color:white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s,ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next{
  right:0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
  background-color: black;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  line-height: 30px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-top: -10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
  
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.product{
  font-family:'Quicksand', sans-serif;
}

.itemimg img{
  width:100%;
  display: block;
}

.container1{
  width:88vw;
  margin: 0 auto;
  margin-left: 105px;
}

.container1 h1{
  text-align: center;
  padding: 1.3rem 0;
  opacity: 1.0;
  font-size: 3rem;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: small-caps;
}

.product{
  padding: 3.2rem 0;
}

.item{
  margin:3rem;
  position: relative;
  background-color:hsla(199,56%,64%,0.7);
  border:2px solid  #096588;
  padding-bottom: 24%;
}

.itemcontent{
  padding:3rem 0.5rem 2rem 0.5rem;
  cursor: pointer;
}

.itemimg{
  background-image:hsla(182,97%,96%,1);
  box-shadow: 0 0 20px 10px white;
  width:200px;
  height: 285px;
  margin: 0 auto;
  border-radius: 20%;
  transition:white 0.5s ease ;
}


.productbtn{
  display:flex ;
  justify-content: center;
  margin-top: 1.4rem;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.btn-cart, .btn-buy{
  background: transparent;
  border: 1px solid black;
  padding: 0.8rem 0;
  width:125px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
}

.btn-cart a{
  text-decoration: none;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-buy a{
  text-decoration: none;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-cart{
  background: black;
}

.btn-cart:hover{
  background: #096588;
}

.btn-buy{
  background: white;
}

.btn-buy:hover{
  background: #598392;
  color:white;
}

.productinfo{
  background: white;
  padding:3rem;
  padding-bottom: 6rem;
  height: 29%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.productinfo1 , .productinfo2{
  background: white;
  padding:3rem;
  padding-bottom: 6rem;
  height: 27.2%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.productinfo-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productname{
  color: black;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.product-price{
  color: #096588;
}

.itemimg img{
  padding-top: 0.4rem;
  padding-right: 0.6rem;
  display: inline-block;
  border-radius: 20%;
  height: 300px;
  width: 200px;}

.product:hover .itemimg img{
  transform: scale(0.8);
  border-radius: 6cap;
}

.product:hover .itemimg2 img{
  transform: scale(0.7);
  border-radius: 6cap;
}


.product:hover .itemimg{
  background-image:#E9EAE5 
}


.product:hover .productbtn{
  opacity: 1;
}

@media screen  and (min-width:992px){
  .itemdetails{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

}

@media screen  and (min-width:1200px){
  .itemdetails{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }

  .item{
    margin-right: 3rem;
    margin-left: 1rem;
  
  }
}

@media screen  and (min-width:1336px){
  .itemdetails{
    grid-template-columns: repeat(4,1fr);
  }

  .item{
    margin-right: 3rem;
    margin-left: 1rem;
  }
}

h1{
  text-align: center;
  padding: 1.3rem 0;
  opacity: 1.0;
  font-size: 3rem;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: small-caps;
  position: relative;
}


@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-100% / 2));
  }
}

.slider{
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
  background-color: hsla(264 , 91%, 59%, 0.2);
  padding: 30px 0px 30px;
  margin-bottom: 20px;
  position: relative;
}


.slider .slide-track{
  animation: scroll 15s linear infinite;
  display: flex;
  width: calc(250px * 20 *2);
}

.slide-track:hover {
  animation-play-state: paused;
}


.slider .slide{
  height: 100px;
  width: 350px;
}

.slide img{
  width: 50%;
}

.people{
  background-color:hsla(30, 3%, 87%,0.5) ;
  margin-right: 60px;
  margin-bottom: 75px;
  margin-left: 80px;
  margin-top: 10px;
  width: 40%;
  float: left;
  padding: 30px, 20px, 30px,20px;
  height: 250px;
  border-radius: 60px;
}

.right p{
  text-align: center;
  margin-top: 11%;
  margin-left: 7%;
  margin-right: 4%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.5rem;
}

.people img {
  float: left;
}


footer .container{
  background-color: #0E1D54;
  padding: 20px;
  margin-top: 10px;
  position: relative;
  width: 97.3%;
  display: flex;
  flex-wrap: wrap;
  line-height: 20px;
}

footer .box {
  float: left;
  margin: 0px 20px 0px 10px;
  width: 22.5%;
}
  
footer h3{
  text-align: left;
  opacity: 1.0;
  font-weight: bold;
  font-size: 1.5rem;
  font-style: italic;
  font-family: cursive;
  font-variant: small-caps;
  margin-top: 0px;
  margin-right: 25px;
  color: white;
}

.box h3:first-of-type{
  margin-top: 0px;
}

footer img{
  width:60px;
  height: 60px;
  border-radius: 20px;
}

footer ul{
  list-style-type: none;
  list-style-image: none;
  line-height: 30px;
  list-style-position: outside;
}

footer ul a{
  text-decoration: none;
  display:block;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  color: white;
  font-weight: 900;
}

footer p a{
  text-decoration: none;
  display:block;
  font-weight: 900;
  color: white;
}

footer p a:hover{
  color: #A5D7F8;
}

footer a:hover {
  text-decoration: underline;
  color:#A5D7F8;
}

#image {
  float: left;
  margin: 10px 10px;
}

footer p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  color: white;
}

@media screen  and (max-width:1024px) and (max-height:768px){
  header{
    margin-top: 0px;
  }

  nav ul{
    width: 100%;
 }

  nav li{
    width: 16.667%;
  }

  nav li a{
    display:block;
    color: #A5D7F8;
    padding-left: 30%;
  }

  .homepic{
    width:100%;
  }

  footer .container{
    width: 96%;
  }

  footer .box{
    width:21% ;
    margin-left: 10px;
    margin-right: 10px;
  }

  .item{
    margin-left: -25px;
    height: 59.5%;
  }

  .video h1{
    margin-left: -20px;
  }

  .video video{
    margin-left: 160px;
    width: 70%;
    height: 60%;
    margin-top: 30px;
  }

  .comment h1{
    margin-left: 100px;
  }

  .people{
    height: 330px;
    width: 530px;
    margin-left: 230px;
  }

  .people p{
    text-align: justify;
    margin-left: 10px;
  }

  .productinfo{
    height:10% ;
  }

  .productinfo1{
    height: 10%;
  }

  .productinfo2{
    height: 7.8%;
  }
}
  
.hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.visible {
  opacity: 1;
 
}

.price2 {
  display: inline-block;
  font-weight: bold;
  text-align: justify;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 11%;
  margin-right: -5%;
  font-size: 15px;
  margin-bottom: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: capitalize;
  margin-top:10px;
  float: left;
}

.price2:first-of-type {
  text-decoration: line-through;
  color: grey;
}

.price2:nth-of-type(2) {
  color: #096588;
}

.off-info .label {
  background-color: red;
  color: white;
  display: inline-block;
  padding: 0.1rem;
  position: absolute;
  writing-mode: horizontal-tb;
  z-index: 1;
  letter-spacing: 3px;
  font-size: 1.1rem;
  color: #eee;
  text-align: center;
  opacity: 1.0;
  font-weight: bold;
  font-style: italic;
  font-family: cursive;
  font-variant: small-caps;
  border-radius: 30px;
}

.popupForm {
  display: none;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 380px;
  padding: 0px 40px 0px 40px;
  transform: translate(-50%,-50%) scale(1);
  z-index: 9;
  border-radius: 20px;
  transition: transform 0.3s ease;
  border: 2px solid lightgrey;
}

.popupForm .option {
  float: center;
}

.popupForm .accountoption {
  border-radius: 20px;
}

.popupForm .accountoption:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.popupForm .container{
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.popupForm h1#accounttitle{
  font-size: 35px;
  padding: 0;
}

.zoomout{
  transform: translate(-50%, -50%) scale(0.5);  
}

.btncancel {
  width: 30%;
  font-size: 0.9em;
  padding: 12px;
  background-color: #F6F3ED;
  border-radius: 20px;
  border: 3px solid #DED7C8;
  color: #787884;
  text-align: center;
  margin-left: 35%;
}