body{
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
}

header{
    width: 100%;
    background-color: #E8EAED;
    float: left;
}

#logo{
    margin-bottom:0;
}

.user{
    float: right;
    margin: 15px 20px 10px 20px;
}

#cart{
    float: right;
    padding: 15px 0 0 20px;
}

nav{
    margin-top: 70px;
}


.sticky{
    position: fixed;
}

nav ul{
    list-style-type: none;
    background-color: #0E1D54;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 110%;
}

nav li{
    width: 16.5%;
    float: left;
}

nav li a{
    display:block;
    color: #A5D7F8;
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav li a:hover{
    background-color: #598392;
    text-shadow: -2px 2px black;
}


footer .container{
    background-color: #0E1D54;
    padding: 20px;
    margin-top: 10px;
    margin-left: 13%;
    position: relative;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    line-height: 20px;
    
}

footer .box1 {
    float: left;
    margin: 0px 20px 0px 10px;
    width: 22.5%;
    
}

footer h3{
    text-align: left;
    opacity: 1.0;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
    font-family: cursive;
    font-variant: small-caps;
    margin-top: 0px;
    margin-right: 25px;
    color: white;
}

.box h3:first-of-type{
    margin-top: 0px;
}

footer img{
    width:60px;
    height: 60px;
    border-radius: 20px;
}

footer ul{
    list-style-type: none;
    list-style-image: none;
    line-height: 30px;
    list-style-position: outside;
}

footer ul a{
    text-decoration: none;
    display:block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: 900;
}

footer p a{
    text-decoration: none;
    display:block;
    font-weight: 900;
    color: white;
}

footer p a:hover{
    color: #A5D7F8;
}

footer a:hover {
    text-decoration: underline;
    color:#A5D7F8
}

#image {
    float: left;
    margin: 10px 10px;
    
}

footer p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: white;
}

main h1{
    text-align: center;
    padding: 0.5rem 0;
    opacity: 1.0;
    font-weight: bold;
    font-size: 3rem;
    font-style: italic;
    font-family: cursive;
    font-variant: small-caps;
    margin-top: 2%;
}

#productNav{
    top: 6.2%;
}

#productNav ul{
    width: 140%;
    overflow: hidden;
    float: left;
    margin: 0;
    padding: 2% 0%;
}

#productNav li{
    float: none;
    width: 100%;
    margin-top: 2px;
    margin-right: 5px;
}

#productNav li a{
    padding: 10% 0;
}


#sectionh1{
    padding-top: 8%;
}

#sectionh1 h1{
    text-align: center;
    padding-left: 15%;
    opacity: 1.0;
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
}

.product{
    float: right;
    margin-top: -3%;
    width: calc(100% - 200px);
    margin-left: 20px;
}

.product h2{
    text-align: center;
    background-color: #B7C0CC;
    color: #484f5c;
    padding: 0.8rem 0;
    opacity: 1.0;
    font-weight: bold;
    font-size: 2rem;
    font-style: italic;
    font-family: cursive;
    font-variant: small-caps;
    margin-top: 2%;
    margin-left: 250px;
    margin-right: 200px;
    border-radius: 100px;
    margin-bottom: 60px;
}

.row{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    float: right;
}

.box{
    box-sizing: border-box;
    border: 3px solid #598392;
    border-radius: 30px;
    box-shadow: 0 0 10px #0d0830;
    transition: 0.5s;
    text-align: center;
    background-color: #ffffff;
    margin-left: 37px;
    margin-right: 42px;
    margin-bottom: 30px;
    width: 350px;
    height: 300px;
    overflow: hidden;
}

.box img{
    display: block;
    margin: 0 auto;
}

.box img#AC{
    width: 300px;
    height: 130px;
}

.box h3{
    padding: 0 10px;
    font-weight: bold;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: justify;
    color: #01161E;
    margin-left: 8%;
    margin-right: 10%;
    font-size: 15px;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    text-transform: capitalize;
}

.price{
    padding: 0 10px;
    font-weight: bold;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: justify;
    color: #01161E;
    margin-left: 8%;
    margin-right: 10%;
    font-size: 15px;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    text-transform: capitalize;
}

.box:hover{
    padding: 6px;
    transition: 0.5s;
}

.box button{
    background-color: #353432;
    color: #eee;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    float: left;
    margin-left: 38px;
    display: initial;
    clear: left;
}

.box button:hover{
    text-decoration: underline;
}

header .icon-cart{
    position: relative;
}

header .icon-cart span{
    display: flex;
    width: 20px;
    height: 20px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    right: -13px;
}

.cartTab{
    width: 400px;
    background-color: hsl(0, 0%, 96%);
    color: #eee;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 0.5s;
    z-index: 1000;
}

body.showCart .cartTab{
    inset: 0 0 0 auto;
}

.cartTab .header{
    background-color: hsl(206, 82%, 35%);
    height: 60px;
}

.cartTab .header h1{
    padding: 20px ;
    margin: 0;
    font-weight: 600;
    float: left;
    color: white;
    text-align: center;
    padding: 1.3rem 0;
    opacity: 1.0;
    font-size: 1.5rem;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    margin-left: 20px;
}


.cartTab .header .reset{
    width: 120px;
    height: 60px;
    margin: 0;
    float: right;
    background-color: hsl(206, 93%, 94%);
    color: black;
    border: none;
    cursor: pointer;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    float: left;
    margin-left: 61px;
    font-size: 0,8rem;
    text-transform: uppercase;
}

.cartTab .header .reset:hover{
    background-color: hsl(207, 74%, 79%);
}

.cartTab .header .reset:active{
    background-color: hsl(207, 74%, 79%);
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button{
    padding: 20px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.cartTab .btn .close{
    background-color: #535150;
    color: white;
}


.cartTab .btn .close:hover{
    background-color: hsl(203, 10%, 74%);
    color: black;
}

.cartTab .btn .checkOut{
    background-color: hsl(180, 1%, 72%);
    color: black;
}

.cartTab .btn .checkOut:hover{
    background-color: hsl(206, 89%, 41%);
    color:#eee;
}

.cartTab .listCart .item img{
    width: 100%;
}

.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .item:nth-child(even){
    background-color: lightblue;
}

.listCart{
    overflow: auto;
    color: #0d0830;

}

.listCart::-webkit-scrollbar{
    width: 0;
}

.cartTab .btn button:active{
    background-color: #124559;
}

.cartTab .listCart .item .name, .cartTab .listCart .item .quantity, .cartTab .listCart .item .price, .cartTab .listCart .item img{
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 15px;
}
.cartTab .listCart .item img{
    width: 65px;
    height: 60px;
}

.totalPriceRow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.0rem;
    margin-top: 10px;
}

.box h2#offer1{
    margin-top: -12%;
    margin-left: 0%;
}

.box h2#offer2{
    margin-top: -12%;
    margin-left: 0%;;
}

.box h2#offer3{
    margin-top: -12%;
    margin-left: 0%;
}

.box h2#offer4{
    margin-top: -12%;
    margin-left: 0%;
}

.box h2#offer5{
    margin-top: -13%;
    margin-left: 0%;
}

.box h2#offer6{
    margin-top: -13%;
    margin-left: 0%;
}

.box h2#offer7{
    margin-top: -13%;
    margin-left: 0%;
}

.box h2#offer8{
    margin-top: -13%;
    margin-left: 0%;
}

.box h2#offer9{
    margin-top: -13%;
    margin-left: 0%;
}


@media screen  and (max-width:1024px) and (max-height:768px){
    header{
        margin-top: 0px;
    }

    nav ul{
        width: 110%;
    }
    
    nav li{
        width: 16.66667%;
    }
    
    nav li a{
        display:block;
        color: #A5D7F8;
        padding-left: 30%;
    }

    #productNav{
        top: 9.4%;
    }

    #productNav li a{
        padding: 7.5% 0;
    }
    
    footer .container{
        margin-left: 18%;
    }

    footer .box1{
        width:21% ;
        margin-left: 10px;
        margin-right: 10px;
    }

    #sectionh1 h1{
        padding-top: 5%;
        padding-left: 20%;
    }

    .product h2{
        margin-left: 1%;
        margin-right: 1%;
    }

    .row{
        width: 100%;
    }

    .box{
        width: 60%;
    }

    .box img#AC{
        display: block;
        width: 190px;
        height: 100px;
        margin-left: -1%;
        margin-top: 5%;
    }

    .box h2#offer1{
        margin-top: -18%;
        margin-left: -3%;
    }

    .box h2#offer2{
        margin-top: -18%;
        margin-left: -3%;
    }

    .box h2#offer3{
        margin-top: -18%;
        margin-left: -3%;
    }

    .box h2#offer4{
        margin-top: -18%;
        margin-left: -4%;
    }

    .box h2#offer5{
        margin-top: -20%;
        margin-left: -3%;
    }

    .box h2#offer6{
        margin-top: -20%;
        margin-left: -3%;
    }

    .box h2#offer7{
        margin-top: -20%;
        margin-left: -3%;
    }

    .box h2#offer8{
        margin-top: -20%;
        margin-left: -3%;
    }

    .box h2#offer9{
        margin-top: -20%;
        margin-left: -3%;
    }
    .popupForm {
        margin-top: 40px;
    }
}

.price2 {
    display: inline-block;
    font-weight: bold;
    text-align: justify;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 11%;
    margin-right: -5%;
    font-size: 15px;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
    margin-top:10px;
    float: left;
}

.price2:first-of-type {
    text-decoration: line-through;
    color: grey;
}

.off-info .label {
    background-color: red;
    color: white;
    display: inline-block;
    padding: 0.1rem;
    position: absolute;
    writing-mode: horizontal-tb;
    z-index: 1;
    letter-spacing: 3px;
    font-size: 1.1rem;
    color: white;
}

.sticky {
    z-index: 500;
}

.popupForm {
    display: none;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 380px;
    padding: 0px 40px 0px 40px;
    transform: translate(-50%,-50%) scale(1);
    z-index: 9;
    border-radius: 20px;
    transition: transform 0.3s ease;
    border: 2px solid lightgrey;
}

.popupForm .option {
    float: center;
}

.popupForm .accountoption {
    border-radius: 20px;
}

.popupForm .accountoption:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.popupForm .container {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.popupForm h1#accounttitle {
    font-size: 35px;
    text-align: center;
    opacity: 1.0;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
}

.zoomout {
    transform: translate(-50%, -50%) scale(0.5);  
}

.btncancel {
    width: 30%;
    font-size: 0.9em;
    padding: 12px;
    background-color: #F6F3ED;
    border-radius: 20px;
    border: 3px solid #DED7C8;
    color: #787884;
    text-align: center;
    margin-left: 35%;
}